.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1E1F1A;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }
  
  .nav-item {
    text-decoration: none;
    color: #FCA311; 
    font-size: 40px;
    margin-top: 6px; 
  }
  